
/* Desktop version */
@media (min-width: 992px) {

	.bgColor {
			height: 100%;
	}

	.contentGame {
			top: 15vh;
	}

	.contentGame .row div h3 {
			font-size: 28px;
	}

	.contentGame .row.gameImage .col-sm-3{
			height: 150px;
	}
	
	.contentGame .row.gameImage img {
			width: 100px;
			height: 100px;
	}

	.contentGame .row.gameImage .versus h1 {
			font-size: 80px;
	}

	.contentGame .row.gameImage .versus .result h5 {
			font-size: 28px;
			height: 100px !important;
	}
}